$cell: rgba(46, 34, 34, 1);
$board: rgba(106, 70, 70, 1);
$wall: rgba(203, 170, 120, 1);
$light-player: rgba(220, 202, 197, 1);
$dark-player: rgba(113, 149, 136, 1);
$background: rgba(48, 46, 43, 1);
